body {
    background-color: #121212; /* Dark background for the theme */
    color: #f5f5f5; /* Light text for readability */
    font-family: 'Roboto', sans-serif; /* Modern font */
    margin: 0;
    padding-top: 50px; /* To avoid overlap with the fixed navbar */
}

h1 {
    color: #58a6ff; /* Hack The Box blue for headings */
}

p {
    color: #58a6ff; /* Slightly off-white for paragraphs */
}

a {
    color: #58a6ff; /* Links color similar to Hack The Box */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* button style */
.go-back {
    margin-top: 20px;
    text-align: center; /* Center the button in the footer */
}

.go-back a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #333; /* Dark background */
    color: #0f0; /* Matrix green text */
    text-decoration: none;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease;
}

.go-back a:hover {
    background-color: #0f0; /* Matrix green background on hover */
    color: #121212; /* Dark text */
}
